.actant {
  text-align: center;
  flex: 0 0 auto;
  margin-left: 1rem;
}
.actant_img {
  margin: 1rem auto 0.5rem;
  border: 1px solid black;
  border-radius: 50%;
  object-fit: cover;
  width: 100px;
  height: 100px;
}

.agent_img {
  margin: -2.5rem auto 2rem 4rem;
  border: 2px solid black;
  border-radius: 50%;
  position: relative;
  width: 30px;
  height: 30px;
}
